h1 {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
  font-family: montserrat;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: #aaa;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
}

.btn-primary {
  background-color: #1fa3ec;
  margin-top: 20px;
}

.btn:hover {
  opacity: 0.85;
}

.search-area {
  text-align: center;
}

#txtBox {
  margin-top: 20px;
  width: 50%;
  padding: 10px;
}

.results {
  padding: 50px;
}
